.idea/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
nccic_license.txt
smssystem-*/*.iml
smssystem-*/*.csv
smssystem-*/.DS_Store
smssystem-*/target/*
smssystem-*/*.swp
smssystem-*/target
smssystem-*/.project
smssystem-*/.classpath
smssystem-*/.settings
smssystem-*/*.log
*.key
sms_settings.properties

